body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h1.entry-title{
    font-size: 30px;
}

h2{
    font-size: 25px;
}
.blog-header-logo{
    font-family: Arial, Helvetica, sans-serif;

}
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(158, 25, 49); */
    color:  #02bbb9;
}
.navbar-light .navbar-nav .nav-link:hover {
    /* color: #641717; */
    color:  #00ddda;
}
a{
    /* color: rgba(158, 25, 49); */
    /* color: #900C3F; */
    color:  #02bbb9;
    transition: all .2s ease-in-out;
}

a:hover{
    /* color: #641717; */
    /* color: #C70039; */
    color:  #00ddda;
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0 0 10px 0;
}

img{
    margin: 5px 0 15px 0;
}

article.post-text{
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin: 0 0 40px 0;
    padding: 18px;
}

article header{
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    margin: 0 0 30px 0;
}

.outline-2{
    margin-bottom: 25px;
}

article .outline-2:last-child{
    margin-bottom: 0;
}

dd{
    padding-bottom: 15px;
}